include/config
include/generated
/*.elf
/*.bin
/*.dis
/*.lds
/*.map
*.o
*.a
.*
!/.gitignore
cscope.*
scripts/basic/fixdep
scripts/kconfig/conf
scripts/kconfig/mconf
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.lex.c
scripts/kconfig/zconf.tab.c
