if PROJ_AST2700_ROM

config SYS_PROJ
	default "ast2700_rom"

config BSS_DATA_ADDR
	hex "Reserved address for BSS and DATA section"
	help
	  Reserved memory address for ROM to read/write
	  .bss and .data variables.

config BSS_DATA_SIZE
	hex "Reserved size in bytes for BSS and DATA section"
	help
	  Reserve memory size in bytes for ROM to read/write
	  .bss and .data variables.

config RAM_CODE_LOAD_ADDR
	hex "RAM code load address"
	help
	  The address where the RAM code will be loaded to.

config RAM_CODE_LOAD_SIZE
	hex "RAM code load size in bytes"
	help
	  The total bytes to load the RAM code.

config RAM_CODE_ENTRY_ADDR
	hex "RAM code entry address"
	help
	  The address of RAM code entry point.

endif
