if PROJ_AST2700_ROM

config SYS_PROJ
	default "ast2700_rom"

config BSS_DATA_ADDR
	hex "Reserved address for BSS and DATA section"
	help
	  Reserved memory address for ROM to read/write
	  .bss and .data variables.

config BSS_DATA_SIZE
	hex "Reserved size in bytes for BSS and DATA section"
	help
	  Reserve memory size in bytes for ROM to read/write
	  .bss and .data variables.

config ROM_MAJOR_VER
	hex "ROM major version number"
	help
	  the ROM major version (0x00~0xff) shown in the banner message.

config ROM_MINOR_VER
	hex "ROM minor version number"
	help
	  the ROM minor version (0x00~0xff) shown in the banner message.

config FMC_LOAD_ADDR
	hex "FMC load address"
	help
	  The address where the First Mutable Code (FMC) will be loaded to.

config FMC_LOAD_SIZE
	hex "FMC maximum load size in bytes"
	help
	  The maximum bytes to load the First Mutable Code (FMC)

config FMC_ENTRY_ADDR
	hex "FMC entry address"
	help
	  The entry point of First Mutable Code (FMC) entry point.

config CPTRA_LOAD_ADDR
	hex "Caliptra FW load address"
	help
	  The address where the Caliptra FW will be loaded to.

config CPTRA_LOAD_SIZE
	hex "Caliptra FW maximum load size in bytes"
	help
	  The maximum bytes to load the Caliptra FW

config CPTRA_EXEC_TMOUT
	int "Calitpra execution timeout in us"
	help
	  The timeout in microsecond (us) for Caliptra execution

endif
